<h1>All the restaurants:</h1>

<ul>
  <% num = 1 %>
  <% @restaurants.each do |r| %>
  <li>
    <h2><%= num %>. <%= r.name %></h2>
    <p>Location: <%= r.address %></p>
    <p>Type: <%= r.category %></p>
  </li>
  <% num += 1 %>
  <% end %>
</ul>
